<%= turbo_stream.replace "applicant_profile_wise" do %>
  <turbo-frame id="applicant_profile_wise">
    <div class="table-responsive shadow">
      <%= render "applicant_index"%>
    </div>
  </turbo-frame>
<%end%>



