<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body text-center">
          <h4 class="card-title">Work in Progress...</h4>
          <p class="card-text">We are currently working on this feature. Please check back later.</p>
        </div>
      </div>
    </div>
  </div>
</div>
